@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kalam:wght@300;400;700&family=Merienda:wght@300..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1fd1ce;
  text-align: center;
  max-height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


nav {
  position: relative;
  height: 9vmin;
  width: 100%;
  padding-top: 5px;
  background-color: rgb(38, 33, 33);
  box-shadow: 5px 5px 40px grey;
}

.heading {
  font-family: "Merienda";
  color: aliceblue;
  font-size: 4vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.founder {
  font-family: "Caveat";
  color: aliceblue;
  font-size: 2.5vmin;
  display: flex;
  justify-content: right;
  margin-right: 10px;

}

.menu-container {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  
  .main-menu {
  border: 2px solid white;
  position: absolute;
  height: 55vmin;
  width: 40vmin;
  background: linear-gradient(45deg, #2b2e2e, #131d1d);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  border-radius: 10px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 2.5px 2.5px 15px rgb(35, 61, 77);
  align-items: center;

  h1 {
    position: relative;
    top: 3vmin;
    border-radius: 10px;
    margin-bottom: 3vmin;
    width: 100%;
    color: aliceblue;
    text-shadow: 2px 1px 4px #f63dc7;
    font-family: "Kalam";
    font-weight: 400;
    font-size: 35px;
  }
}

.other-menuOptions {
  width: 100%;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-btn {
  width: 75%;
  font-size: 23px;
  font-family: "Kalam";
  font-weight: 500;
  padding: 0.8vmin;
  border-radius: 1.2vmin;
  border: none;
  box-shadow: 1px 1px 5px palevioletred;
  color: rgb(48, 48, 48);
  transition: transform ease-in-out 0.2s;
  background-color: rgb(159, 245, 251);
}

.menu-btn:hover {
  background-color: #55fbf8;
  color: black;
  cursor: pointer;
  transform: scale(1.03);
}

.aiLevel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3vmin;
}

.aiLevelBtns {
  padding: 2.5px;
  border-radius: 8px;
  background-color: #4fdba3;
  font-size: 3.5vmin;
  width: 65%;
  animation: transform ease-in-out 1s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aiLevelBtns:hover {
  transform: scale(1.02);
  background-color: #11ea93;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.aiLevelBtns:active {
  transform: scale(0.98);
}

.settingOptions,
.settingControls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5vmin;

  .music {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
  }

  .sound {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3vmin;
  }

  svg {
    margin-right: 1.2vmin;
    fill: #04e8e4;
  }

  i {
    font-size: 3.5vmin;
    color: #04e8e4;
    margin-right: 1vmin;
  }

  .lowVolume {
    position: relative;
    left: -2.8px;
  }


}

.settingControls {
  svg {
    fill: black;
  }

  i {
    color: #000;
  }
}

.game-container {
  padding-top: 3vmin;
  position: relative;
  height: 82vh;
  display: flex;
  top: 3vmin;
  align-items: center;
  flex-direction: column;
  gap: 4vmin;
  overflow: hidden;
}

@keyframes scoreCardInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.score-card {
  padding: 0.4vmin;
  box-shadow: 2px 2px 20px gray;
  border-radius: 0.8vmin;
  height: 60.5vmin;
  width: 44vmin;
  overflow-y: scroll;
  background-color: #24e7e3;
  animation: scoreCardInAnimation 1s ease;

  h1 {
    font-family: "Merienda";
    font-size: 4vmin;
    border-bottom: 2px solid black;
    text-shadow: 2px 2px 5px white;
  }
}

.score-card::-webkit-scrollbar {
  background-color: #04787a;
  width: 0.8vmin;
  border-radius: 1vmin;
}

.score-card::-webkit-scrollbar-thumb {
  background: #dafffb;
  border-radius: 6px;
}

.score-card::-webkit-scrollbar-thumb:hover {
  background: #000000;
  /* Darker color */
  cursor: pointer;
}

.score-table {
  margin-top: 0.5vmin;
  width: 100%;
  border-collapse: collapse;

}

.score-table th,
.score-table td {
  border: 2px solid #3f3c3c;
  padding: 0.8vmin;
  font-size: 2.4vmin;
}

.score-table th {
  font-family: "Merienda";
  background-color: #04787a;
  color: whitesmoke;
}

.score-table tr:hover {
  font-family: "Merienda";
  background-color: #ddd;
  cursor: pointer;

}

.final-winner {
  font-family: "Merienda";
  margin-top: 4vmin;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2vmin;
}



.nameField {
  display: flex;
  gap: 1.2vmin;
  font-size: 20px;
  border: 0.4vmin solid black;
  box-shadow: 2.5px 2.5px 5px gray;
  border-radius: 0.8vmin;
  padding: 0.8vmin;
  width: 41.5vmin;
  height: 10vmin;
  justify-content: center;
}

@keyframes FadeOutAnimation {
  from {
    transform: scale(100%);
    opacity: 1;
  }

  to {
    transform: scale(0%);
    opacity: 0;
  }
}

@keyframes FadeInAnimation {
  from {
    transform: scale(0%);
    opacity: 0;

  }

  to {
    transform: scale(100%);
    opacity: 1;
  }
}

.OutAnimation {
  animation: FadeOutAnimation 0.8s ease-in backwards;
}

.InAnimation {
  animation: FadeInAnimation 0.8s ease-out forwards;
}

.borderX {
  padding: 1px;
  position: relative;
  background: linear-gradient(0deg, #000, #272727);
  border-radius: 0.8vmin;

  label {
    color: whitesmoke;
  }
}

.borderX:before,
.borderX:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
      #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: borderAnimation 20s linear infinite;
  border-radius: 0.8vmin;
}

.borderO {
  padding: 1px;
  position: relative;
  background: linear-gradient(0deg, #000, #272727);
  border-radius: 0.8vmin;

  label {
    color: whitesmoke;
  }
}

.borderO:before,
.borderO:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
      #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: borderAnimation 20s linear infinite;
  border-radius: 0.8vmin;
}

@keyframes borderAnimation {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.borderX:after {
  filter: blur(10px);
}

.borderO:after {
  filter: blur(10px);
}

.PlayerO {
  font-family: "Merienda";
  display: flex;
  flex-direction: column;
  gap: 1.3vmin;

  label {
    font-size: 3.5vmin;
  }

  input {
    font-family: "Merienda";
    text-align: center;
    font-size: 2.5vmin;
    height: 2.3vmin;
    width: 18vmin;
    padding: 0.8vmin;
    border: none;
    border-radius: 0.8vmin;
    box-shadow: inset 1px 1px 5px rgba(128, 128, 128, 0.304), inset -1px -1px 5px rgba(128, 128, 128, 0.2);
  }
}

.PlayerX {
  font-family: "Merienda";
  display: flex;
  flex-direction: column;
  gap: 1.3vmin;

  label {
    font-size: 3.5vmin;
  }

  input {
    font-family: "Merienda";
    text-align: center;
    font-size: 2.5vmin;
    height: 2.3vmin;
    width: 18vmin;
    padding: 0.8vmin;
    border: none;
    border-radius: 0.8vmin;
    box-shadow: inset 1px 1px 5px rgba(128, 128, 128, 0.304), inset -1px -1px 5px rgba(128, 128, 128, 0.2);
  }
}

.nameholderO {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vmin;
  font-weight: bolder;
  text-shadow: 2px 2px 5px #000;
  height: 2vmin;
  width: 20vmin;
  color: white;
  padding-bottom: 8px;
}

.nameholderX {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vmin;
  font-weight: bolder;
  text-shadow: 1.5px 1.5px 3px #000;
  height: 2vmin;
  width: 20vmin;
  color: white;
  padding-bottom: 8px;
}


.board {
  position: relative;
  height: 45vmin;
  width: 44vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  box-shadow: 1px 1px 5px rgb(95, 92, 92);
}

.box {
  font-family: "Merienda";
  height: 15vmin;
  width: 14.666vmin;
  border: 0.4vmin solid black;
  font-size: 8vmin;
  color: rgb(247, 247, 95);
  background-color: #01a3a0;
}

.hoverX:hover::after {
  content: "x";
  opacity: 0.4;
}

.hoverO:hover::after {
  content: "o";
  opacity: 0.4;
}

.border-bottom {
  border-bottom: none;
}

.border-top {
  border-top: none;
}

.border-left {
  border-left: none;
}

.border-right {
  border-right: none;
}

.box:hover {
  cursor: pointer;
}

@keyframes strikerAnimationRow {
  from {
    width: 0;
  }

  to {
    width: 109%;
  }
}

@keyframes strikerAnimationColumn {
  from {
    height: 0;
  }

  to {
    height: 109%;
  }
}

@keyframes strikerAnimationDiagonal {
  from {
    scale: 0;
  }

  to {
    scale: 104%;
  }
}

.strike {
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: 2.5px 2.5px 5px rgb(255, 0, 0);
  border-radius: 50%;
}

.strike-row-1 {
  height: 0.65vmin;
  top: 15%;
  animation: strikerAnimationRow 0.5s ease-out forwards;
}

.strike-row-2 {
  height: 0.65vmin;
  top: 48%;
  animation: strikerAnimationRow 0.5s ease-out forwards;
}

.strike-row-3 {
  height: 0.65vmin;
  top: 83%;
  animation: strikerAnimationRow 0.5s ease-out forwards;
}

.strike-column-1 {
  width: 0.65vmin;
  left: 16%;
  animation: strikerAnimationColumn 0.5s ease-out forwards;
}

.strike-column-2 {
  width: 0.65vmin;
  left: 49.5%;
  animation: strikerAnimationColumn 0.5s ease-out forwards;
}

.strike-column-3 {
  width: 0.65vmin;
  left: 83%;
  animation: strikerAnimationColumn 0.5s ease-out forwards;
}

.strike-diagonal-1 {
  width: 104%;
  height: 0.8vmin;
  top: 48%;
  left: -1.5%;
  transform: skewY(45deg);
  animation: strikerAnimationDiagonal 0.5s ease-out forwards;
}

.strike-diagonal-2 {
  width: 104%;
  height: 0.8vmin;
  top: 49%;
  left: -1.5%;
  transform: skewY(-45deg);
  animation: strikerAnimationDiagonal 0.5s ease-out forwards;
}

.settingIcon {
  width: 44vmin;
  height: 10vmin;
  display: flex;
  font-size: 5vmin;
  gap: 2vmin;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(120deg);
  }
}

@keyframes reverseRotate {
  from {
    transform: rotate(120deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.settingClose,
.settingOpen {
  position: absolute;
  cursor: pointer;
}

.settingClose.rotate,
.settingOpen.reverseRotate {
  animation: rotate 0.5s;
}

.settingOpen.reverseRotate {
  animation: reverseRotate 0.5s;
}

.gameOperations {
  width: 43.5vmin;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

@keyframes shrink {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.7);
  }
}


#msg {
  font-family: "Merienda";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* animation: shrink 0.7s infinite alternate; */
  width: 43vmin;
  height: 11.9vmin;
  color: white;
  text-shadow: 2px 2px 5px rgb(67, 162, 245);
  font-size: 3.273vmin;
}

.text-border {
  padding-left: 0.6vmin;
  padding-right: 0.6vmin;
  -webkit-text-stroke: 0.4px #e804d1;
  font-weight: 500;
  font-size: 3.5vmin;
  color: rgb(255, 255, 255);
  text-shadow: none;
}


.gameBtns {
  border: 0.34vmin solid black;
  border-radius: 5px;
  background-color: #02b6b3;
  position: relative;
  left: -2.4px;
  display: flex;
  padding: 0.8vmin;
  width: 42.2vmin;
  flex-wrap: wrap;
  gap: 1.2vmin;
  align-items: center;
  justify-content: center;

  button {
    height: 6vmin;
    width: 20.5vmin;
    font-size: 3.5vmin;
  }
}

.game-btn {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vmin;
  width: 25vmin;
  font-size: 4vmin;
  background-color: #191913;
  color: #fff;
  border-radius: 1vmin;
  border: none;
  animation: transform 0.5s ease-in-out;
}

.game-btn:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 2px 2px 10px grey;
}

.game-btn:active {
  transform: scale(0.98);
}


.hide {
  display: none;
}


@media only screen and (max-width: 720px) {

  main {
    overflow: hidden;
  }

  body {
    overflow: hidden;
  }

  nav {
    height: 17vmin;
  }

  .heading {
    font-size: 8.5vmin;
  }

  .founder {
    font-size: 4vmin;
    margin-right: 5px;
  }

  .main-menu {
    width: 64vmin;
    height: fit-content;
    padding-bottom: 7vmin;
  }

  .menu-btn{
    width: 85%;
    font-size: 25px;
  }

  .game-container {
    width: 100vmin;
    scale: 1.9;
    margin-top: 59vmin;
    height: 60vh;
    padding-top: 6.5vmin;
  }

  .aiLevelBtns {
    border-radius: 1.5vmin;
    font-size: 4.5vmin;
    width: 45%;
  }

  .settingOptions {
    i {
      font-size: 7vmin;
    }

    svg {
      transform: scale(1.17)
    }
  }

  .settingControls {
    scale: 0.7;
    margin-left: 0.85vmin;

    i {
      font-size: 6vmin;
    }

    .music {
      input{
        margin-left: 2px;
      }
    }

    svg {
      transform: scale(1.01)
    }
  }

}
